doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/snake.js',canvas='canvas-1')
    script(type='text/javascript', src='/javascripts/paper.js')
    script(type='text/javascript', src='/javascripts/Function.js')
    script(type='text/paperscript', src='/javascripts/player.js',canvas='canvas-1')



  body
    block content
