doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/Static.js')
    script(type='text/javascript', src='/javascripts/paper.js')
    script(type='text/paperscript', src='/javascripts/Function.js',canvas='canvas-1')


  body
    block content
